@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
	font-style: inherit;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1025px) {
    .banner-overlay-main-text{
        width: 40%;
    }

    .banner-text-bold{
        width: 42%;
        font-size: 70px;
    }

    .banner-page-width{
        width: calc(100% - 5rem);
    }

    .banner-image-section{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .banner-overlay{
        font-size: 70px;
    }

    .banner-image{
        object-fit: cover;
    }
}

@media screen and (min-width: 360px) and (max-width: 1024px){
    .banner-text-bold{
        font-size: 45px;
    }

    .banner-overlay{
        font-size: 45px;
    }

    .banner-image{
        object-fit: contain;
    }
}

@keyframes slide {
    0%{
      transform: translateY(-20px);
      opacity: 0;
    }
  
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }

.banner-page-width{
    //width: calc(100% - 5rem);
    padding: 100px 20px 20px 20px;
    margin: 0 auto;
}

.banner{
    border-radius: 7px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner-text{
        height: 35%;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        animation: slide ease-in .3s;

        header{
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: rgb(107, 91, 255);
        }

        .banner-text-bold{
            font-family: 'Oswald', sans-serif;
           

            line-height: 100%;
            margin: 15px 0 0 0;
        }
    }

    
    .banner-image-section{
        height: 65%;
        width: 100%;
        //border-top-left-radius: 15px;
        //border-top-right-radius: 15px;
        overflow: hidden;
        position: relative;

        .banner-image{
            width: 100%;
            height: 100%;
       
        }

        .banner-overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.65);
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            font-family: 'Oswald', sans-serif;
           
            color: #fff;

            .banner-overlay-main-text{
               
                line-height: 100%;
                
            }
        }

        .banner-overlay-slider{
            position: absolute;
            bottom: 10px;
            left: 20px;
            font-size: 12.5px;
            font-family: 'Roboto', sans-serif;
            color: rgba(255, 255, 255, 0.6); 
        }    
    }
}