@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


body{
	font-style: inherit;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$navigationTextSize : 13px;
$textSpacing : 1px;
$purple: rgb(107, 91, 255);

//Responsiveness



@media screen and (min-width: 360px) and (max-width: 1200px){
    .navigation-content{
        display: none;
    }

    .mobile-navigation-content{
        display: block;
        position: fixed;
        height: 100%;
        //background: pink;
        width: 100%;
        top: 0;
        left: 0;

        .mobile-page-width{
            //width: calc(100% - 5rem);
            height: 100%;
            padding: 20px 20px;
            margin: 0 auto;
            

          .mobile-navigation-format{
                height: 100%;
                //background-color: rgba(0,0,0,0.5);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .mobile-navigation-navbar-top{
                    //display: flex;
                    //align-items: baseline;
                    //justify-content: space-between;
                    //padding: 0px 0px 20px 0px;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 200;
                    //background: green;

                    .hamburger-icon{
                        font-size: 20px;
                    }
                }

              
        }

        .navigation-emblem{
            font-size: 24px;
        }
    }

    .mobile-navigation-navbar-bottom{
        //width: 100%;
        background: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 200;
        ///background: green;

        .mobile-navigation{
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: center;
            animation: navSlide ease-in-out .7s;

            svg{
                color: rgb(107, 91, 255);
                font-size: 3.5vw;
            }

            header{
                font-size: 14px;
                margin: 5px 0px 0px 0px;
                font-family: 'Manrope', sans-serif;
            }
        }
    }
}


}

@media screen and (min-width: 1201px) {
    .navigation-content{
        display: flex;
    }

    .mobile-navigation-content{
        display: none;
    }

    .navigation-emblem{
        font-size: 34px;
    }
}
.navigation-page-width{
    width: calc(100% - 5rem);
    padding: 20px 20px;
    margin: 0 auto;
}

/*.navigation-bar.navigation-offset{
    background: #fff;
    z-index: 2;

    a{
        color: rgb(0, 0, 0);
    }
}*/

.navigation-bar{
    z-index: 2;
}

.navigation-bar, .mobile-navigation-content{
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
   
    
    a{
        text-decoration: none; color: rgb(0, 0, 0);
    }

   

    .navigation-emblem{
        display: flex; 
        align-items: center;
      

        svg{
            color: $purple;
            margin-right: 10px ;
        }
        
    
     
    }

    .navigation-title{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        
    }

    .navigation-list{
        display: flex;
        list-style: none;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

       /* .navigation-link{
            position: relative;
        }

        .navigation-link.active .active-line{
            visibility: visible;
            width: 100%;
        }

        .active-line{
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background: $purple;
            width: 0%;
            animation: navSlide ease-in-out .2s;
        }

      
          */

          @keyframes navSlide {
            0%{
              transform: translateY(-10px);
              opacity: 0;
            }
          
            100%{
              transform: translateY(0);
              opacity: 1;
            }
          }

        li{
            margin: 0px 15px;
            font-size: $navigationTextSize;
            letter-spacing: $textSpacing;
            font-weight: bold;
            cursor: pointer;
            transition: ease-in-out .4s;
            display: block;
           
        }

        li .navigation-link:hover{
            font-size: 13.1px;
            color: $purple;
        }

        li .navigation-link.active{
            color: $purple;
          
        }
    }

    .navigation-content{
        
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        position: relative;

       
    }
}

